.menubutton {
    background: #333;
    height: 50px;
    float:right;
    padding:0 0 0 0;
}

.menubutton > li {
    float: left;
    position: relative;
}

.menubutton ul {
    background: #444;
    display: none; /*hides the menu*/
    position: absolute;
    right: 0; top: 100%;
}

.menubutton a { /*menu title*/
    cursor: pointer;
    display: block;
    color: white;
    line-height: 50px;
    padding: 0 10px;
}

.menubutton li {
  list-style: none;
}

.menubutton li:active {
  background: #555;
}

.menubutton li:active ul {
  display: block;
}

.menu {
  display:block;
}

.col1 {
  width:500px;
  float:right;
}

.col2 {
  width:500px;
  float:right;
}

/*smaller than 480px width do this:*/
@media all and (max-width: 480px) {
    .menubutton {  height: auto; }
    .menubutton > li {  float: none; width: 100%; }
    .menubutton a { line-height: 40px; }
    .menubutton ul { position: relative; }

    .menubutton li.tap { background: #555;  }
    .menubutton li.tap ul { display: block;  }
}

/*larger than 480px width do this:*/
@media all and (min-width: 481px) {
  .menubutton li:hover { background: #555;  }
  .menubutton li:hover ul { /*display: block;*/  }
}
