ul.menu {
    background: #333;
    height: 30px;
    width: 100%;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu ul {
    background: #444;
    display: none;
    position: absolute;
    left: 0; top: 100%;
}

ul.menu a {
    cursor: pointer;
    display: block;
    color: white;
    line-height: 30px;
    padding: 0 10px;
}

ul.menu li { list-style: none; }

ul.menu li:hover { background: #555;  }
ul.menu li:hover ul { display: block;  }


.menubar ul ul { /* hide/show list */
  display: none;
}

.menubar li:hover > ul { /* hide/show list */
  display: block;
}


@media all and (max-width: 480px) {
    ul.menu {  height: auto; }
    ul.menu > li {  float: none; width: 100%; }
    ul.menu a { line-height: 40px; }
    ul.menu ul { position: relative; }

    ul.menu li.tap { background: #555;  }
    ul.menu li.tap ul { display: block;  }
}

@media all and (min-width: 481px) {
    ul.menu li:hover { background: #555;  }
    ul.menu li:hover ul { display: block;  }
}
